In [1]:
%run  "./env_setup.py"

User:  nchitiwong
Database:  postgresql://nchitiwong:secret@ads1.datasci.vt.edu:5432/ads_db1

In [2]:
%%sql
-- get rowcounts for all tables in 
SELECT 
    schemaname,
    tablename as table_name,
    (xpath('/row/c/text()', query_to_xml('SELECT count(*) AS c FROM '||quote_ident(schemaname)||'.'||quote_ident(tablename), true, true, '')))[1]::text::int as row_count
FROM pg_catalog.pg_tables
WHERE schemaname = '{username}'  
ORDER BY row_count DESC;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
18 rows affected.

[('nchitiwong', 'transaction_pos', 619738),
 ('nchitiwong', 'customer_varietal_pct_to_total', 22665),
 ('nchitiwong', 'customer', 5000),
 ('nchitiwong', 'campaign_transformed', 2000),
 ('nchitiwong', 'campaign', 2000),
 ('nchitiwong', 'customer_pricepoint_crosstab', 1000),
 ('nchitiwong', 'kmeans_input', 1000),
 ('nchitiwong', 'customer_segments', 1000),
 ('nchitiwong', 'campaign_predictions_smote', 1000),
 ('nchitiwong', 'rfm_metrics', 1000),
 ('nchitiwong', 'customer_varietal_crosstab', 1000),
 ('nchitiwong', 'customer_producer_crosstab', 1000),
 ('nchitiwong', 'customer_region_crosstab', 1000),
 ('nchitiwong', 'pca_input', 1000),
 ('nchitiwong', 'product', 500),
 ('nchitiwong', 'zip_demographics_decile', 72),
 ('nchitiwong', 'zip', 72),
 ('nchitiwong', 'store', 10)]

In [3]:
%%sql
-- 1. Take a look at first 25 records of campaign
SELECT * 
FROM campaign 
LIMIT 25;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
25 rows affected.

[('Meiomi ($2 off)', 1301, 'email', 2465, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 229, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 916, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 795, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 3022, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 3544, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 1074, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 26, 0, 0), datetime.datetime(2024, 7, 28, 0, 0), 20, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 3352, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 1745, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 1085, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 927, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 3050, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 1118, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 643, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 4768, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 502, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 4067, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 334, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 4685, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 487, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 1963, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 394, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 4843, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 4867, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495),
 ('Meiomi ($2 off)', 1301, 'email', 1756, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495)]

In [4]:
%%sql
-- 2. Transaction Granularity: Get transaction counts per store, showing data distribution
SELECT s.STORE_NAME, 
       COUNT(*) as transaction_count, 
       COUNT(DISTINCT t.CUSTOMER_NBR) as unique_customers,
       SUM(t.TOTAL_SALES) as total_revenue
FROM STORE s
JOIN TRANSACTION_POS t ON s.STORE_NBR = t.STORE_NBR
GROUP BY s.STORE_NAME;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
10 rows affected.

[('Aurora Wine Cellar', 62290, 1000, 6431168.710008032),
 ('Cherry Creek Wine Company', 61690, 1000, 6397798.140007887),
 ('Evergreen Wine Market', 62176, 1000, 6446339.690008123),
 ('Fort Collins Wine Collective', 61880, 1000, 6402647.600007909),
 ('Highland Wine & Spirits', 61730, 1000, 6416594.290007914),
 ('LoDo Wine Gallery', 61392, 1000, 6359378.530007765),
 ('Mile High Vintners', 61927, 1000, 6430990.66000799),
 ('Mountain View Wine & Spirits', 62509, 1000, 6475909.830008163),
 ('Parker Wine Merchants', 62575, 1000, 6523620.890008083),
 ('The Wine Vault', 61569, 1000, 6364465.75000787)]

In [5]:
%%sql
-- 3. Email Campaign Effectiveness: Analyze click-through and purchase conversion rates
SELECT 
    CAMPAIGN_SHORT_DESC,
    COUNT(*) as emails_sent,
    COUNT(EMAIL_CLICK_DATE) as clicks,
    COUNT(PURCHASE_DATE) as purchases,
    COUNT(EMAIL_CLICK_DATE) * 100.0 / COUNT(*) as click_rate,
    COUNT(PURCHASE_DATE) * 100.0 / COUNT(*) as conversion_rate
FROM CAMPAIGN
GROUP BY CAMPAIGN_SHORT_DESC;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
2 rows affected.

[('Amarone 30% Discount', 1000, 80, 31, Decimal('8.0000000000000000'), Decimal('3.1000000000000000')),
 ('Meiomi ($2 off)', 1000, 100, 72, Decimal('10.0000000000000000'), Decimal('7.2000000000000000'))]

In [6]:
%%sql
-- 4. Customer Demographics: Distribution of customers across income deciles
SELECT 
    z.INC_MEDIAN_HOUSEHOLD_INCOME_D10 as income_decile,
    COUNT(DISTINCT c.CUSTOMER_NBR) as customer_count
FROM CUSTOMER c
JOIN ZIP_DEMOGRAPHICS_DECILE z ON c.ZIP_CODE = z.ZIP
GROUP BY z.INC_MEDIAN_HOUSEHOLD_INCOME_D10
ORDER BY income_decile;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
10 rows affected.

[(1, 77),
 (2, 207),
 (3, 405),
 (4, 386),
 (5, 536),
 (6, 506),
 (7, 551),
 (8, 590),
 (9, 716),
 (10, 1026)]

In [7]:
%%sql
-- 5. Product Analysis: Most popular wine varietals by sales volume
SELECT p.VARIETAL, 
       SUM(t.QUANTITY) as total_units_sold,
       SUM(t.TOTAL_SALES) as total_revenue
FROM PRODUCT p
JOIN TRANSACTION_POS t ON p.SKU = t.SKU
GROUP BY p.VARIETAL
ORDER BY total_units_sold DESC;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
35 rows affected.

[('Pinot Noir', 87293, 4783113.069999451),
 ('Cabernet Sauvignon', 77343, 9303256.570002653),
 ('Tempranillo', 72894, 6043891.060000377),
 ('Chardonnay', 70208, 5959936.920000339),
 ('Sauvignon Blanc', 46290, 1186695.0999998222),
 ('Merlot', 45874, 2697261.259999684),
 ('Riesling', 45595, 1863906.0499997356),
 ('Zinfandel', 39655, 2400221.4499997394),
 ('Malbec', 37695, 1625309.049999801),
 ('Champagne', 37009, 3660549.909999721),
 ('Pinot Grigio', 34607, 932288.9299999187),
 ('Shiraz', 34126, 2348123.7399997767),
 ('Barbaresco', 30163, 3906783.3699997687),
 ('Red Blend', 29503, 4161130.9699997716),
 ('Chianti Classico', 27150, 974968.499999928),
 ('Prosecco', 21989, 483538.1100000056),
 ('Super Tuscan', 20251, 2761171.4899998587),
 ('Amarone', 14088, 1241294.1199999428),
 ('Sauternes', 13451, 1942665.4899999208),
 ('Barolo', 12034, 1145144.6599999568),
 ('Carmenere', 11113, 221718.87000000308),
 ('Sangiovese', 8571, 557029.2899999991),
 ('Cabernet Blend', 7085, 981574.1499999805),
 ("Nero d'Avola", 7076, 257769.24000000302),
 ('Syrah', 6849, 475053.5100000015),
 ('Nebbiolo', 5407, 712330.9299999928),
 ('White Blend', 4567, 119250.33000000083),
 ('Chablis', 3638, 174758.62000000055),
 ('Gewurztraminer', 3460, 207565.40000000098),
 ('Bordeaux Blend', 3334, 458461.66000000114),
 ('Chianti', 3127, 140683.73000000027),
 ('Brunello', 1720, 154782.8),
 ('Amarone della Valpolicella Classico', 1489, 133995.11000000022),
 ('Semillon-Sauvignon', 1434, 186405.6600000002),
 ('Viognier', 1403, 46284.96999999996)]

In [8]:
%%sql
-- 6. Data Quality: Check for missing values in critical fields
SELECT 
    COUNT(*) as total_records,
    COUNT(CUSTOMER_NBR) as valid_customer_records,
    COUNT(EMAIL_CLICK_DATE) as valid_click_records,
    COUNT(PURCHASE_DATE) as valid_purchase_records
FROM CAMPAIGN;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
1 rows affected.

[(2000, 2000, 180, 103)]

In [9]:
%%sql
-- 7. Customer Purchase Patterns: Frequency and recency analysis
SELECT 
    c.CUSTOMER_NBR,
    COUNT(*) as transaction_count,
    MIN(t.TRANSACTION_DATE) as first_purchase,
    MAX(t.TRANSACTION_DATE) as last_purchase,
    SUM(t.TOTAL_SALES) as total_spent
FROM CUSTOMER c
JOIN TRANSACTION_POS t ON c.CUSTOMER_NBR = t.CUSTOMER_NBR
GROUP BY c.CUSTOMER_NBR
order by 4 desc
limit 50;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
50 rows affected.

[(1243, 518, datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 56089.52999999996),
 (4742, 646, datetime.datetime(2019, 1, 13, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 69192.02000000014),
 (4759, 584, datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 63858.61000000005),
 (2759, 704, datetime.datetime(2019, 1, 5, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 71279.29000000015),
 (2277, 633, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 67072.18000000008),
 (568, 570, datetime.datetime(2019, 1, 5, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 56211.26000000004),
 (788, 634, datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 67319.2800000001),
 (927, 550, datetime.datetime(2019, 1, 3, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 54560.32000000002),
 (1035, 756, datetime.datetime(2019, 1, 5, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 75620.60000000025),
 (185, 715, datetime.datetime(2019, 1, 15, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 73337.35000000018),
 (804, 552, datetime.datetime(2019, 1, 14, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 56381.020000000026),
 (20, 663, datetime.datetime(2019, 1, 13, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 72787.62000000011),
 (3823, 677, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 74926.58000000016),
 (1176, 511, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 50237.11999999998),
 (4919, 634, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 68766.37000000014),
 (3248, 491, datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 50830.28999999999),
 (2233, 682, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 77004.17000000006),
 (4926, 523, datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 51593.61999999998),
 (3642, 626, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 66321.20000000011),
 (2417, 666, datetime.datetime(2019, 1, 3, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 70802.73000000019),
 (4685, 763, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 75126.13000000015),
 (316, 690, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 74562.9500000001),
 (3050, 836, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 78725.55000000019),
 (3009, 678, datetime.datetime(2019, 1, 3, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 67877.8300000001),
 (368, 837, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 78299.17000000019),
 (1542, 769, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 84611.01000000013),
 (1048, 551, datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 58033.11999999999),
 (4254, 828, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 78111.3400000002),
 (2908, 580, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 60593.02000000002),
 (799, 564, datetime.datetime(2019, 1, 9, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 61547.18000000008),
 (4893, 672, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 68066.56000000011),
 (743, 639, datetime.datetime(2019, 1, 3, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 71347.89000000014),
 (3751, 518, datetime.datetime(2019, 1, 3, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 51725.75),
 (3269, 694, datetime.datetime(2019, 1, 7, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 73590.09000000013),
 (725, 555, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 57796.12000000004),
 (44, 668, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 67847.90000000011),
 (9, 600, datetime.datetime(2019, 1, 23, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 60202.49000000006),
 (627, 673, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 76910.43000000014),
 (3497, 486, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 49770.219999999994),
 (4464, 595, datetime.datetime(2019, 1, 4, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 62889.65000000008),
 (2465, 595, datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 60922.87000000006),
 (292, 722, datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 75232.62000000011),
 (4292, 535, datetime.datetime(2019, 1, 8, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 61150.28000000007),
 (1039, 529, datetime.datetime(2019, 1, 9, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 55208.69),
 (1927, 838, datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 73220.68000000018),
 (411, 614, datetime.datetime(2019, 1, 2, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 70342.32000000012),
 (528, 817, datetime.datetime(2019, 1, 6, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 76783.79000000024),
 (2054, 595, datetime.datetime(2019, 1, 7, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 59295.62000000003),
 (1613, 526, datetime.datetime(2019, 1, 3, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 52692.86000000006),
 (4862, 545, datetime.datetime(2019, 1, 10, 0, 0), datetime.datetime(2025, 7, 31, 0, 0), 56598.259999999995)]

In [10]:
%%sql
-- 8. Geographic Distribution: Customer concentration by region
SELECT 
    z.STATE,
    z.CITY,
    COUNT(DISTINCT c.CUSTOMER_NBR) as customer_count,
    COUNT(DISTINCT s.STORE_NBR) as store_count
FROM CUSTOMER c
JOIN ZIP z ON c.ZIP_CODE = z.ZIP
LEFT JOIN STORE s ON z.STATE = s.STORE_STATE
GROUP BY z.STATE,
        z.CITY
order by 3 desc;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
55 rows affected.

[('CO', 'Denver', 765, 10),
 ('CO', 'Fort Collins', 285, 10),
 ('CO', 'Littleton', 217, 10),
 ('CO', 'Aurora', 149, 10),
 ('CO', 'Colorado Springs', 136, 10),
 ('CO', 'Johnstown', 94, 10),
 ('CO', 'Broomfield', 89, 10),
 ('CO', 'Yoder', 85, 10),
 ('CO', 'Walden', 80, 10),
 ('CO', 'Parker', 80, 10),
 ('CO', 'Brighton', 80, 10),
 ('CO', 'Victor', 80, 10),
 ('CO', 'Allenspark', 79, 10),
 ('CO', 'Paoli', 78, 10),
 ('CO', 'Log Lane Village', 77, 10),
 ('CO', 'Buffalo Creek', 77, 10),
 ('CO', 'Genoa', 76, 10),
 ('CO', 'Arapahoe', 75, 10),
 ('CO', 'Rush', 75, 10),
 ('CO', 'Hudson', 74, 10),
 ('CO', 'Burns', 73, 10),
 ('CO', 'Haxtun', 72, 10),
 ('CO', 'Idalia', 72, 10),
 ('CO', 'Drake', 71, 10),
 ('CO', 'Wiggins', 71, 10),
 ('CO', 'Gill', 69, 10),
 ('CO', 'Orchard', 68, 10),
 ('CO', 'Lake George', 68, 10),
 ('CO', 'Dillon', 68, 10),
 ('CO', 'Matheson', 67, 10),
 ('CO', 'Arvada', 67, 10),
 ('CO', 'Morrison', 66, 10),
 ('CO', 'Padroni', 66, 10),
 ('CO', 'Grant', 65, 10),
 ('CO', 'Elbert', 65, 10),
 ('CO', 'Guffey', 65, 10),
 ('CO', 'Lone Tree', 65, 10),
 ('CO', 'Central City', 64, 10),
 ('CO', 'Sterling', 64, 10),
 ('CO', 'Evergreen', 63, 10),
 ('CO', 'Eldorado Springs', 63, 10),
 ('CO', 'Dacono', 63, 10),
 ('CO', 'Kirk', 62, 10),
 ('CO', 'Frisco', 62, 10),
 ('CO', 'U S A F Academy', 62, 10),
 ('CO', 'Bond', 61, 10),
 ('CO', 'Bellvue', 61, 10),
 ('CO', 'Snyder', 60, 10),
 ('CO', 'Holyoke', 60, 10),
 ('CO', 'Conifer', 59, 10),
 ('CO', 'Bennett', 59, 10),
 ('CO', 'Fort Morgan', 58, 10),
 ('CO', 'Briggsdale', 57, 10),
 ('CO', 'Wray', 57, 10),
 ('CO', 'Loveland', 56, 10)]

In [11]:
%%sql
-- 9. Campaign Product Performance: Which products generate the most engagement
SELECT 
    p.SKU,
    p.PRODUCER,
    p.VARIETAL,
    COUNT(DISTINCT cam.CUSTOMER_NBR) as customers_targeted,
    COUNT(cam.PURCHASE_DATE) as purchases_made,
    SUM(cam.PURCHASE_QTY * cam.UNIT_PRICE) as campaign_revenue
FROM PRODUCT p
JOIN CAMPAIGN cam ON p.SKU = cam.SKU
GROUP BY p.SKU, p.PRODUCER, p.VARIETAL;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
2 rows affected.

[(17, 'Masi', 'Amarone', 1000, 72, 18552.929999999993),
 (162, 'Meiomi', 'Pinot Noir', 1000, 31, 21354.627)]

In [12]:
%%sql
-- 10. Price Point Analysis: Transaction distribution across price ranges
SELECT 
    CASE 
        WHEN t.UNIT_PRICE < 20 THEN 'Under $20'
        WHEN t.UNIT_PRICE < 50 THEN '$20-$50'
        WHEN t.UNIT_PRICE < 100 THEN '$50-$100'
        ELSE 'Over $100'
    END as price_range,
    COUNT(*) as transaction_count,
    SUM(t.TOTAL_SALES) as total_revenue
FROM TRANSACTION_POS t
GROUP BY CASE 
    WHEN t.UNIT_PRICE < 20 THEN 'Under $20'
    WHEN t.UNIT_PRICE < 50 THEN '$20-$50'
    WHEN t.UNIT_PRICE < 100 THEN '$50-$100'
    ELSE 'Over $100'
END;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
4 rows affected.

[('$20-$50', 236273, 11939407.500019243),
 ('$50-$100', 189446, 18833340.85002448),
 ('Over $100', 179016, 33087857.6100339),
 ('Under $20', 15003, 388308.13000000606)]

In [13]:
%%sql
--
-- Using the Massi Amarone 30% Discount Email on 2024-05-10, 
-- Determine if there was an change in Massi Amarone units sold 7 days after the email vs 7 days before (i.e. what was the lift, if any). 
-- 
select 1

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
1 rows affected.

[(1,)]