In [1]:
%run  "./env_setup.py"

User:  nchitiwong
Database:  postgresql://nchitiwong:secret@ads1.datasci.vt.edu:5432/ads_db1

In [2]:
%%sql
--
-- Always make your data transformation idempotent, meaning you can run this cell multiple times without causing issues.
--
drop table if exists {username}.campaign_transformed;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [3]:
%%sql
--
-- Create a new table with the transformed data
--
create table if not exists {username}.campaign_transformed as 
select c.*,
    case when c.email_click_date is not null then 1 else 0 end as IS_CLICK,
    case when c.purchase_date is not null then 1 else 0 end as IS_PURCHASE
from {username}.campaign c;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
2000 rows affected.

[]

In [4]:
%%sql
--
-- Select 2% of the data randomly
--
select * 
from {username}.campaign_transformed c 
TABLESAMPLE BERNOULLI(2);

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
43 rows affected.

[('Meiomi ($2 off)', 1301, 'email', 656, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 743, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 472, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 20, 0, 0), datetime.datetime(2024, 7, 22, 0, 0), 14, 17, 22.99, 12.495, 1, 1),
 ('Meiomi ($2 off)', 1301, 'email', 4311, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 2520, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 96, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 23, 0, 0), datetime.datetime(2024, 7, 25, 0, 0), 18, 17, 22.99, 12.495, 1, 1),
 ('Meiomi ($2 off)', 1301, 'email', 4811, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 1201, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 4325, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 52, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 3746, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 4893, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 28, 0, 0), datetime.datetime(2024, 7, 28, 0, 0), 5, 17, 22.99, 12.495, 1, 1),
 ('Meiomi ($2 off)', 1301, 'email', 1210, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 4507, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 2078, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 518, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 4211, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 2314, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 1671, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4725, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 1058, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4488, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 1861, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 2805, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 2330, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 3226, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 1579, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4997, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 81, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 2424, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4801, datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), 2, 162, 62.992999999999995, 31.496499999999997, 1, 1),
 ('Amarone 30% Discount', 1247, 'email', 3227, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 599, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 3858, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 857, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4878, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 3726, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 2958, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4933, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 2415, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Amarone 30% Discount', 1247, 'email', 4682, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 1570, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0),
 ('Meiomi ($2 off)', 1301, 'email', 3023, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0)]

In [5]:
%%sql
--
-- Just for fun, here is a random, stratified sample.
-- Every time IS_PURCHASE changes the row_number is reset and starts incrementing (partitioning)
-- then we select the first 10 rows of each stratum.
-- A WITH block is an inline view (or query) that can be used to simplify complex queries.
-- How would we stratify by both CAMPAIGN and IS_PURCHASE?
--
WITH strata AS (
  SELECT *,
         ROW_NUMBER() OVER (
           PARTITION BY IS_PURCHASE
           ORDER BY RANDOM()
         ) as row_number 
  FROM {username}.campaign_transformed
)
SELECT * FROM strata 
WHERE row_number <= 10;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
20 rows affected.

[('Meiomi ($2 off)', 1301, 'email', 1502, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0, 1),
 ('Meiomi ($2 off)', 1301, 'email', 292, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0, 2),
 ('Meiomi ($2 off)', 1301, 'email', 1169, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0, 3),
 ('Amarone 30% Discount', 1247, 'email', 2314, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0, 4),
 ('Amarone 30% Discount', 1247, 'email', 2697, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0, 5),
 ('Amarone 30% Discount', 1247, 'email', 2461, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0, 6),
 ('Meiomi ($2 off)', 1301, 'email', 4292, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0, 7),
 ('Amarone 30% Discount', 1247, 'email', 1205, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0, 8),
 ('Meiomi ($2 off)', 1301, 'email', 590, datetime.datetime(2024, 7, 15, 0, 0), None, None, 0, 17, 22.99, 12.495, 0, 0, 9),
 ('Amarone 30% Discount', 1247, 'email', 843, datetime.datetime(2024, 5, 10, 0, 0), None, None, 0, 162, 62.992999999999995, 31.496499999999997, 0, 0, 10),
 ('Amarone 30% Discount', 1247, 'email', 3025, datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), 6, 162, 62.992999999999995, 31.496499999999997, 1, 1, 1),
 ('Meiomi ($2 off)', 1301, 'email', 719, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 17, 0, 0), datetime.datetime(2024, 7, 19, 0, 0), 17, 17, 22.99, 12.495, 1, 1, 2),
 ('Amarone 30% Discount', 1247, 'email', 4608, datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), 11, 162, 62.992999999999995, 31.496499999999997, 1, 1, 3),
 ('Meiomi ($2 off)', 1301, 'email', 4864, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 24, 0, 0), datetime.datetime(2024, 7, 26, 0, 0), 1, 17, 22.99, 12.495, 1, 1, 4),
 ('Meiomi ($2 off)', 1301, 'email', 645, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 25, 0, 0), datetime.datetime(2024, 7, 26, 0, 0), 9, 17, 22.99, 12.495, 1, 1, 5),
 ('Amarone 30% Discount', 1247, 'email', 3003, datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), 5, 162, 62.992999999999995, 31.496499999999997, 1, 1, 6),
 ('Meiomi ($2 off)', 1301, 'email', 1908, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 25, 0, 0), datetime.datetime(2024, 7, 27, 0, 0), 15, 17, 22.99, 12.495, 1, 1, 7),
 ('Meiomi ($2 off)', 1301, 'email', 1653, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 17, 0, 0), datetime.datetime(2024, 7, 19, 0, 0), 8, 17, 22.99, 12.495, 1, 1, 8),
 ('Meiomi ($2 off)', 1301, 'email', 2331, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 20, 0, 0), datetime.datetime(2024, 7, 22, 0, 0), 18, 17, 22.99, 12.495, 1, 1, 9),
 ('Meiomi ($2 off)', 1301, 'email', 2095, datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 26, 0, 0), datetime.datetime(2024, 7, 28, 0, 0), 7, 17, 22.99, 12.495, 1, 1, 10)]

In [6]:
%%sql
--
-- compile RFM scores from transactional data
--
drop table if exists {username}.rfm_metrics;

create table {username}.rfm_metrics as
WITH base_metrics AS (
    SELECT 
        CUSTOMER_NBR,
        -- Recency: Days since last purchase
        CURRENT_DATE - MAX(TRANSACTION_DATE) as recency_days,
        -- Frequency: Count of transactions
        COUNT(DISTINCT TRANSACTION_ID) as frequency_count,
        -- Monetary: Average transaction value
        AVG(TOTAL_SALES) as monetary_avg
    FROM {username}.TRANSACTION_POS
    GROUP BY CUSTOMER_NBR
),
percentile_calc AS (
    SELECT
        CUSTOMER_NBR,
        recency_days,
        frequency_count,
        monetary_avg,
        -- Convert recency to a 1-100 score (inverse as lower days is better)
        CEIL(100.0 * (1.0 - PERCENT_RANK() OVER (ORDER BY recency_days))) as recency_score,
        -- Convert frequency to a 1-100 score
        CEIL(100.0 * PERCENT_RANK() OVER (ORDER BY frequency_count)) as frequency_score,
        -- Convert monetary to a 1-100 score
        CEIL(100.0 * PERCENT_RANK() OVER (ORDER BY monetary_avg)) as monetary_score
    FROM base_metrics
)
SELECT 
    p.customer_nbr,
    c.first_name,
    c.last_name,
    p.recency_days,
    p.frequency_count,
    ROUND(cast(p.monetary_avg as numeric), 2) as monetary_avg,
    p.recency_score,
    p.frequency_score,
    p.monetary_score,
    (p.recency_score + p.frequency_score + p.monetary_score) as rfm_score,
    -- Segment customers based on total RFM score
    CASE 
        WHEN (p.recency_score + p.frequency_score + p.monetary_score) >= 250 THEN 'Top Tier'
        WHEN (p.recency_score + p.frequency_score + p.monetary_score) >= 200 THEN 'High Value'
        WHEN (p.recency_score + p.frequency_score + p.monetary_score) >= 150 THEN 'Mid Value'
        WHEN (p.recency_score + p.frequency_score + p.monetary_score) >= 100 THEN 'Low Value'
        ELSE 'At Risk'
    END as customer_segment
FROM percentile_calc p
INNER JOIN CUSTOMER c ON p.CUSTOMER_NBR = c.CUSTOMER_NBR;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
1000 rows affected.

[]

In [7]:
%%sql
select *
from {username}.rfm_metrics r 
order by r.rfm_score desc
limit 20;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
20 rows affected.

[(643, 'Abigail', 'White', datetime.timedelta(days=52), 568, Decimal('114.74'), 100.0, 86.0, 99.0, 285.0, 'Top Tier'),
 (4393, 'Tina', 'Hoover', datetime.timedelta(days=52), 572, Decimal('111.88'), 100.0, 89.0, 94.0, 283.0, 'Top Tier'),
 (2373, 'Kayla', 'Maldonado', datetime.timedelta(days=52), 561, Decimal('114.08'), 100.0, 83.0, 98.0, 281.0, 'Top Tier'),
 (1542, 'Shannon', 'Adams', datetime.timedelta(days=52), 619, Decimal('110.03'), 100.0, 93.0, 88.0, 281.0, 'Top Tier'),
 (97, 'Dwayne', 'Johnson', datetime.timedelta(days=52), 592, Decimal('109.81'), 100.0, 92.0, 87.0, 279.0, 'Top Tier'),
 (222, 'Joel', 'Collier', datetime.timedelta(days=52), 565, Decimal('111.70'), 100.0, 85.0, 94.0, 279.0, 'Top Tier'),
 (2949, 'Katherine', 'Oliver', datetime.timedelta(days=52), 557, Decimal('114.43'), 100.0, 80.0, 99.0, 279.0, 'Top Tier'),
 (2233, 'Kelly', 'King', datetime.timedelta(days=52), 558, Decimal('112.91'), 100.0, 81.0, 96.0, 277.0, 'Top Tier'),
 (4839, 'Kelly', 'Zuniga', datetime.timedelta(days=52), 557, Decimal('110.72'), 100.0, 80.0, 91.0, 271.0, 'Top Tier'),
 (4260, 'Shelly', 'Myers', datetime.timedelta(days=52), 549, Decimal('113.17'), 100.0, 75.0, 96.0, 271.0, 'Top Tier'),
 (539, 'Nicole', 'Odom', datetime.timedelta(days=52), 569, Decimal('109.09'), 100.0, 87.0, 84.0, 271.0, 'Top Tier'),
 (2985, 'Scott', 'Wilson', datetime.timedelta(days=52), 554, Decimal('111.13'), 100.0, 79.0, 92.0, 271.0, 'Top Tier'),
 (627, 'Marilyn', 'Goodman', datetime.timedelta(days=52), 541, Decimal('114.28'), 100.0, 70.0, 98.0, 268.0, 'Top Tier'),
 (3576, 'Lori', 'Michael', datetime.timedelta(days=52), 555, Decimal('109.71'), 100.0, 79.0, 87.0, 266.0, 'Top Tier'),
 (1833, 'Amber', 'Coleman', datetime.timedelta(days=52), 551, Decimal('109.85'), 100.0, 77.0, 88.0, 265.0, 'Top Tier'),
 (3902, 'Frederick', 'Nichols', datetime.timedelta(days=52), 565, Decimal('108.17'), 100.0, 85.0, 80.0, 265.0, 'Top Tier'),
 (1363, 'Sean', 'Hall', datetime.timedelta(days=52), 549, Decimal('110.15'), 100.0, 75.0, 89.0, 264.0, 'Top Tier'),
 (2452, 'Abigail', 'Lewis', datetime.timedelta(days=52), 547, Decimal('110.13'), 100.0, 74.0, 89.0, 263.0, 'Top Tier'),
 (316, 'Judy', 'Nolan', datetime.timedelta(days=52), 563, Decimal('108.06'), 100.0, 84.0, 79.0, 263.0, 'Top Tier'),
 (3823, 'Peggy', 'Faulkner', datetime.timedelta(days=52), 541, Decimal('110.67'), 100.0, 70.0, 91.0, 261.0, 'Top Tier')]

In [8]:
import pandas as pd
import numpy as np
from datetime import datetime

def perform_rfm_analysis(db_agent: PostgresAgent) -> pd.DataFrame:
    """
    Perform RFM (Recency, Frequency, Monetary) analysis using pandas.
    
    Args:
        db_agent: Initialized PostgresAgent instance
        
    Returns:
        pd.DataFrame: DataFrame containing RFM analysis results
    """
    # Get transaction data
    sql = f"""
        SELECT 
            t.transaction_id,
            t.customer_nbr,
            t.transaction_date,
            t.total_sales,
            c.first_name,
            c.last_name
        from {username}.transaction_pos t
        inner join customer c on t.customer_nbr = c.customer_nbr
    """
    transactions_df = db_agent.execute_dml(sql)

    print(transactions_df.head())
    
    # Calculate base metrics for each customer
    current_date = pd.Timestamp.now()
    
    # Recency calculation
    recency_df = transactions_df.groupby('customer_nbr')['transaction_date'].max().reset_index()
    recency_df['recency_days'] = (current_date - recency_df['transaction_date']).dt.days
    
    # frequency calculation
    frequency_df = transactions_df.groupby('customer_nbr')['transaction_id'].nunique().reset_index()
    frequency_df.columns = ['customer_nbr', 'frequency_count']
    
    # monetary calculation
    monetary_df = transactions_df.groupby('customer_nbr')['total_sales'].mean().reset_index()
    monetary_df.columns = ['customer_nbr', 'monetary_avg']
    
    # combine metrics
    rfm_df = recency_df.merge(frequency_df, on='customer_nbr')
    rfm_df = rfm_df.merge(monetary_df, on='customer_nbr')
    
    # Calculate percentile ranks (1-100 scale)
    rfm_df['recency_score'] = (
        (1 - rfm_df['recency_days'].rank(pct=True))  # Inverse rank as lower days is better
        * 100
    ).apply(np.ceil)
    
    rfm_df['frequency_score'] = (
        rfm_df['frequency_count'].rank(pct=True)
        * 100
    ).apply(np.ceil)
    
    rfm_df['monetary_score'] = (
        rfm_df['monetary_avg'].rank(pct=True)
        * 100
    ).apply(np.ceil)

    # Calculate total RFM score
    rfm_df['rfm_score'] = (
        rfm_df['recency_score'] +
        rfm_df['frequency_score'] +
        rfm_df['monetary_score']
    )
    
    # Add customer segments
    def get_segment(score):
        if score >= 250:
            return 'Top Tier'
        elif score >= 200:
            return 'High Value'
        elif score >= 150:
            return 'Mid Value'
        elif score >= 100:
            return 'Low Value'
        else:
            return 'At Risk'
    
    rfm_df['customer_segment'] = rfm_df['rfm_score'].apply(get_segment)
    
    # Add customer names
    customer_info = transactions_df[['customer_nbr', 'first_name', 'last_name']].drop_duplicates()
    rfm_df = rfm_df.merge(customer_info, on='customer_nbr')
    
    # Round monetary average
    rfm_df['monetary_avg'] = rfm_df['monetary_avg'].round(2)
    
    # Select and order columns to match SQL output
    final_columns = [
        'customer_nbr', 'first_name', 'last_name',
        'recency_days', 'frequency_count', 'monetary_avg',
        'recency_score', 'frequency_score', 'monetary_score',
        'rfm_score', 'customer_segment'
    ]
    
    result_df = rfm_df[final_columns].sort_values('rfm_score', ascending=False)
    
    return result_df

In [9]:
rfm_frame = perform_rfm_analysis(agent)
display(rfm_frame)
# materialize as an actual table (for now we skip as the table is already created)
# agent.write_to_postgres(rfm_frame, f'{username}.rfm_metrics', True)

/home/nchitiwong/datasci_business/retail_segmentation/PostgresAgent.py:90: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   transaction_id  customer_nbr transaction_date  total_sales first_name  \
0               1          1722       2023-11-01        89.97      Aaron
1               2           585       2025-07-28        48.99     Ashley
2               3          1653       2023-12-07       199.98  Stephanie
3               4          2118       2023-02-07        24.99  Stephanie
4               5          2985       2022-07-17       279.98      Scott

  last_name
0    Watson
1    Martin
2    Thomas
3   Wilkins
4    Wilson

,customer_nbr,first_name,last_name,recency_days,frequency_count,monetary_avg,recency_score,frequency_score,monetary_score,rfm_score,customer_segment
144,643,Abigail,White,52,568,114.74,91.0,87.0,99.0,277.0,Top Tier
871,4393,Tina,Hoover,52,572,111.88,91.0,89.0,94.0,274.0,Top Tier
479,2373,Kayla,Maldonado,52,561,114.08,91.0,83.0,98.0,272.0,Top Tier
330,1542,Shannon,Adams,52,619,110.03,91.0,93.0,88.0,272.0,Top Tier
53,222,Joel,Collier,52,565,111.70,91.0,85.0,94.0,270.0,Top Tier
...,...,...,...,...,...,...,...,...,...,...,...
347,1618,Judith,Black,76,425,98.59,1.0,12.0,15.0,28.0,At Risk
18,81,Scott,Clark,70,413,99.51,4.0,4.0,19.0,27.0,At Risk
432,2132,Lisa,Wagner,60,407,91.59,19.0,3.0,2.0,24.0,At Risk
963,4842,Phillip,Tucker,68,416,96.06,5.0,6.0,8.0,19.0,At Risk
5,27,Denise,Pierce,71,420,95.00,3.0,8.0,7.0,18.0,At Risk

In [10]:
%%sql 
-- clean up if needed
drop table if exists {username}.customer_varietal_pct_to_total;

-- calculate category percent of total spend by customer (3% Merlot for customer 123)
create table {username}.customer_varietal_pct_to_total as 
with customer_totals as (
    select tp.customer_nbr,
            sum(tp.total_sales) as total
    from {username}.transaction_pos tp 
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
    group by tp.customer_nbr
), customer_totals_by_varietal as (
    select tp.customer_nbr,
           p.varietal,
            sum(tp.total_sales) as sub_total
    from {username}.transaction_pos tp 
    inner join product p on p.sku = tp.sku
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
    group by tp.customer_nbr,
        p.varietal
)
select v.customer_nbr,
        v.varietal,
        v.sub_total / t.total as pct
from customer_totals_by_varietal v 
inner join customer_totals t on t.customer_nbr = v.customer_nbr;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
22646 rows affected.

[]

In [11]:
%%sql
select *
from {username}.customer_varietal_pct_to_total
limit 3;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
3 rows affected.

[(3239, 'Zinfandel', 0.016976003567057286),
 (2562, 'Bordeaux Blend', 0.035016997472104315),
 (2222, 'Cabernet Sauvignon', 0.2085644758603981)]

In [14]:
sql_query = f"""
CREATE OR REPLACE FUNCTION {username}.make_safe_column_name(input_text text)
 RETURNS text
 LANGUAGE plpgsql
 IMMUTABLE
AS $function$
BEGIN
    RETURN regexp_replace(
        lower(
            regexp_replace(
                regexp_replace(
                    input_text,
                    '[^a-zA-Z0-9\\s]', -- Remove special characters
                    '', 
                    'g'
                ),
                '\\s+', -- Replace spaces with underscore
                '_',
                'g'
            )
        ),
        '^(\\d)', -- If starts with number, prefix with 'n_'
        'n_\\1'
    );
END;
$function$
"""

In [15]:
%%sql
$sql_query

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
(psycopg2.errors.InsufficientPrivilege) must be owner of function make_safe_column_name

[SQL: CREATE OR REPLACE FUNCTION nchitiwong.make_safe_column_name(input_text text)
 RETURNS text
 LANGUAGE plpgsql
 IMMUTABLE
AS $function$
BEGIN
    RETURN regexp_replace(
        lower(
            regexp_replace(
                regexp_replace(
                    input_text,
                    '[^a-zA-Z0-9\s]', -- Remove special characters
                    '',
                    'g'
                ),
                '\s+', -- Replace spaces with underscore
                '_',
                'g'
            )
        ),
        '^(\d)', -- If starts with number, prefix with 'n_'
        'n_\1'
    );
END;
$function$]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [16]:
%%sql
-- generate the SQL using SQL for the pivot columns and values
select p.varietal,
       'max(case when varietal = ''' || p.varietal || ''' then pct else 0.0 end) as ' || make_safe_column_name(p.varietal) || ',' as pivot_generated_sql,
        row_number() over (order by sum(tp.total_sales) desc) as sales_rank
    from {username}.transaction_pos tp 
    inner join product p on p.sku = tp.sku
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
group by p.varietal
order by 3;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
35 rows affected.

[('Cabernet Sauvignon', "max(case when varietal = 'Cabernet Sauvignon' then pct else 0.0 end) as cabernet_sauvignon,", 1),
 ('Chardonnay', "max(case when varietal = 'Chardonnay' then pct else 0.0 end) as chardonnay,", 2),
 ('Tempranillo', "max(case when varietal = 'Tempranillo' then pct else 0.0 end) as tempranillo,", 3),
 ('Pinot Noir', "max(case when varietal = 'Pinot Noir' then pct else 0.0 end) as pinot_noir,", 4),
 ('Red Blend', "max(case when varietal = 'Red Blend' then pct else 0.0 end) as red_blend,", 5),
 ('Barbaresco', "max(case when varietal = 'Barbaresco' then pct else 0.0 end) as barbaresco,", 6),
 ('Champagne', "max(case when varietal = 'Champagne' then pct else 0.0 end) as champagne,", 7),
 ('Super Tuscan', "max(case when varietal = 'Super Tuscan' then pct else 0.0 end) as super_tuscan,", 8),
 ('Merlot', "max(case when varietal = 'Merlot' then pct else 0.0 end) as merlot,", 9),
 ('Shiraz', "max(case when varietal = 'Shiraz' then pct else 0.0 end) as shiraz,", 10),
 ('Zinfandel', "max(case when varietal = 'Zinfandel' then pct else 0.0 end) as zinfandel,", 11),
 ('Sauternes', "max(case when varietal = 'Sauternes' then pct else 0.0 end) as sauternes,", 12),
 ('Riesling', "max(case when varietal = 'Riesling' then pct else 0.0 end) as riesling,", 13),
 ('Malbec', "max(case when varietal = 'Malbec' then pct else 0.0 end) as malbec,", 14),
 ('Amarone', "max(case when varietal = 'Amarone' then pct else 0.0 end) as amarone,", 15),
 ('Sauvignon Blanc', "max(case when varietal = 'Sauvignon Blanc' then pct else 0.0 end) as sauvignon_blanc,", 16),
 ('Barolo', "max(case when varietal = 'Barolo' then pct else 0.0 end) as barolo,", 17),
 ('Cabernet Blend', "max(case when varietal = 'Cabernet Blend' then pct else 0.0 end) as cabernet_blend,", 18),
 ('Chianti Classico', "max(case when varietal = 'Chianti Classico' then pct else 0.0 end) as chianti_classico,", 19),
 ('Pinot Grigio', "max(case when varietal = 'Pinot Grigio' then pct else 0.0 end) as pinot_grigio,", 20),
 ('Nebbiolo', "max(case when varietal = 'Nebbiolo' then pct else 0.0 end) as nebbiolo,", 21),
 ('Sangiovese', "max(case when varietal = 'Sangiovese' then pct else 0.0 end) as sangiovese,", 22),
 ('Syrah', "max(case when varietal = 'Syrah' then pct else 0.0 end) as syrah,", 23),
 ('Prosecco', "max(case when varietal = 'Prosecco' then pct else 0.0 end) as prosecco,", 24),
 ('Bordeaux Blend', "max(case when varietal = 'Bordeaux Blend' then pct else 0.0 end) as bordeaux_blend,", 25),
 ("Nero d'Avola", "max(case when varietal = 'Nero d'Avola' then pct else 0.0 end) as nero_davola,", 26),
 ('Carmenere', "max(case when varietal = 'Carmenere' then pct else 0.0 end) as carmenere,", 27),
 ('Gewurztraminer', "max(case when varietal = 'Gewurztraminer' then pct else 0.0 end) as gewurztraminer,", 28),
 ('Semillon-Sauvignon', "max(case when varietal = 'Semillon-Sauvignon' then pct else 0.0 end) as semillonsauvignon,", 29),
 ('Chablis', "max(case when varietal = 'Chablis' then pct else 0.0 end) as chablis,", 30),
 ('Amarone della Valpolicella Classico', "max(case when varietal = 'Amarone della Valpolicella Classico' then pct else 0.0 end) as amarone_della_valpolicella_classico,", 31),
 ('Chianti', "max(case when varietal = 'Chianti' then pct else 0.0 end) as chianti,", 32),
 ('Brunello', "max(case when varietal = 'Brunello' then pct else 0.0 end) as brunello,", 33),
 ('White Blend', "max(case when varietal = 'White Blend' then pct else 0.0 end) as white_blend,", 34),
 ('Viognier', "max(case when varietal = 'Viognier' then pct else 0.0 end) as viognier,", 35)]

In [17]:
%%sql
-- clean up if needed
drop table if exists {username}.customer_varietal_crosstab;

-- cut and paste the SQL generated above into an ANSI SQL pivot
create table {username}.customer_varietal_crosstab as 
    select  p.customer_nbr,
            max(case when varietal = 'Cabernet Sauvignon' then pct else 0.0 end) as cabernet_sauvignon,
            max(case when varietal = 'Chardonnay' then pct else 0.0 end) as chardonnay,
            max(case when varietal = 'Tempranillo' then pct else 0.0 end) as tempranillo,
            max(case when varietal = 'Pinot Noir' then pct else 0.0 end) as pinot_noir,
            max(case when varietal = 'Red Blend' then pct else 0.0 end) as red_blend,
            max(case when varietal = 'Barbaresco' then pct else 0.0 end) as barbaresco,
            max(case when varietal = 'Champagne' then pct else 0.0 end) as champagne,
            max(case when varietal = 'Super Tuscan' then pct else 0.0 end) as super_tuscan,
            max(case when varietal = 'Merlot' then pct else 0.0 end) as merlot,
            max(case when varietal = 'Zinfandel' then pct else 0.0 end) as zinfandel,
            max(case when varietal = 'Shiraz' then pct else 0.0 end) as shiraz,
            max(case when varietal = 'Sauternes' then pct else 0.0 end) as sauternes,
            max(case when varietal = 'Riesling' then pct else 0.0 end) as riesling,
            max(case when varietal = 'Malbec' then pct else 0.0 end) as malbec,
            max(case when varietal = 'Amarone' then pct else 0.0 end) as amarone,
            max(case when varietal = 'Sauvignon Blanc' then pct else 0.0 end) as sauvignon_blanc,
            max(case when varietal = 'Barolo' then pct else 0.0 end) as barolo,
            max(case when varietal = 'Cabernet Blend' then pct else 0.0 end) as cabernet_blend,
            max(case when varietal = 'Chianti Classico' then pct else 0.0 end) as chianti_classico,
            max(case when varietal = 'Pinot Grigio' then pct else 0.0 end) as pinot_grigio,
            max(case when varietal = 'Nebbiolo' then pct else 0.0 end) as nebbiolo,
            max(case when varietal = 'Sangiovese' then pct else 0.0 end) as sangiovese,
            max(case when varietal = 'Syrah' then pct else 0.0 end) as syrah,
            max(case when varietal = 'Prosecco' then pct else 0.0 end) as prosecco,
            max(case when varietal = 'Bordeaux Blend' then pct else 0.0 end) as bordeaux_blend,
            max(case when varietal = 'Nero d''Avola' then pct else 0.0 end) as nero_davola,
            max(case when varietal = 'Carmenere' then pct else 0.0 end) as carmenere,
            max(case when varietal = 'Gewurztraminer' then pct else 0.0 end) as gewurztraminer,
            max(case when varietal = 'Semillon-Sauvignon' then pct else 0.0 end) as semillonsauvignon,
            max(case when varietal = 'Chablis' then pct else 0.0 end) as chablis,
            max(case when varietal = 'Chianti' then pct else 0.0 end) as chianti,
            max(case when varietal = 'Brunello' then pct else 0.0 end) as brunello,
            max(case when varietal = 'Amarone della Valpolicella Classico' then pct else 0.0 end) as amarone_della_valpolicella_classico,
            max(case when varietal = 'White Blend' then pct else 0.0 end) as white_blend,
            max(case when varietal = 'Viognier' then pct else 0.0 end) as viognier
from {username}.customer_varietal_pct_to_total p 
group by p.customer_nbr;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
1000 rows affected.

[]

In [18]:
%%sql
select *
from customer_varietal_crosstab v 
limit 10;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
10 rows affected.

[(1269, 0.04430465434566419, 0.14497321806598995, 0.07383739821388134, 0.07937471076495901, 0.06965764417443707, 0.12983822530301992, 0.029535205443034243, 0.03569037327320528, 0.05353063676017371, 0.00799888736818267, 0.04799332420909602, 0.0, 0.004921918846801432, 0.08478155985073013, 0.022151711779127822, 0.015624846151573935, 0.04799578578391313, 0.0, 0.04737177656777702, 0.01697871230098168, 0.01722979293232639, 0.0, 0.0, 0.005413003022813877, 0.0, 0.0, 0.004797609318537629, 0.0, 0.015999005523773896, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0),
 (1989, 0.09885398194955408, 0.02926308283681894, 0.2093767660837197, 0.061487348029225744, 0.06725246804118258, 0.08095143941174918, 0.048258553878105806, 0.0, 0.034245093109101364, 0.01930217604867425, 0.020236302974727203, 0.06304889687394427, 0.012138979404058165, 0.026460702058660072, 0.040474162827664494, 0.028168597455126888, 0.012453468802495992, 0.0, 0.05992268542808704, 0.004202014289028214, 0.0, 0.010118151487363601, 0.022882995931877245, 0.003423575183984084, 0.021016298957981426, 0.0, 0.0, 0.018679424764638946, 0.0, 0.0077828341722312126, 0.0, 0.0, 0.0, 0.0, 0.0),
 (4674, 0.10455279373215774, 0.015194216544030038, 0.09664747277758598, 0.1046622183531838, 0.04862951741310471, 0.09361154745867399, 0.0814520404044334, 0.017020391886042773, 0.0, 0.013371688689384842, 0.0887421518230142, 0.017020391886042773, 0.03208937803045409, 0.02662057863739599, 0.04315707053267906, 0.017622227301686114, 0.05409953263528532, 0.0, 0.0, 0.006319879778816367, 0.051061175658128316, 0.031606693868816906, 0.0, 0.013368041202017305, 0.0, 0.016408829837419335, 0.0030383569771570028, 0.007293758905948324, 0.0, 0.0, 0.016410045666541844, 0.0, 0.0, 0.0, 0.0),
 (1091, 0.1845676408208555, 0.1401845826663354, 0.019068533683158136, 0.03466732933038217, 0.09777449014384045, 0.029470812938123786, 0.1236588283566133, 0.04738469362398074, 0.005777888221730363, 0.013867394055675313, 0.015023202861782608, 0.052007928848409914, 0.03200781326752929, 0.018835060304324466, 0.028891752726264028, 0.0031195279676835865, 0.05547304364911957, 0.0, 0.01617670005027769, 0.01582880159963939, 0.014446454267535068, 0.022534804292673915, 0.006355792624784011, 0.0, 0.0, 0.011554620634654619, 0.0019637191615762923, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.009358583903050761, 0.0),
 (839, 0.0775279334323522, 0.05379190014852826, 0.13817449534161502, 0.06918798946799896, 0.058647549284364074, 0.08227492911153125, 0.10653207703213619, 0.02637008844180396, 0.014238877261679729, 0.08258401127464224, 0.03586091513637594, 0.04746679212800436, 0.027630679516608178, 0.024257147920604936, 0.028478809411288164, 0.008963382730218747, 0.008438048541722932, 0.015822264042668118, 0.018455264312719433, 0.014235712597893609, 0.0, 0.00685571664866325, 0.0160321867404807, 0.009278794220901977, 0.0, 0.006327217796381316, 0.008012928706454231, 0.006328272684310024, 0.0, 0.0, 0.004745940791250341, 0.0, 0.0, 0.0, 0.003480075276802595),
 (70, 0.16897819774360942, 0.03748155376779172, 0.09043652115961354, 0.1012591041081545, 0.0, 0.0464095301566145, 0.05473770647879282, 0.062831437140001, 0.008924406150330848, 0.02260794021040607, 0.0963821583281764, 0.016659922882848587, 0.045807349930975426, 0.004164088161089164, 0.032128576188889445, 0.02545699052696722, 0.01070952539629648, 0.051169848145856185, 0.004164088161089164, 0.006543057076212696, 0.0, 0.015468653306040853, 0.008924406150330848, 0.02878683296044178, 0.0, 0.017845242062169763, 0.005233969629171232, 0.0, 0.015469843385538166, 0.0, 0.0, 0.01070952539629648, 0.01070952539629648, 0.0, 0.0),
 (3726, 0.21779955129927178, 0.02413581546638012, 0.09255723112443823, 0.10961403024736624, 0.07731919466205865, 0.02359490601244455, 0.01814950882517371, 0.04900494442064605, 0.10798041109118499, 0.0, 0.0, 0.07895281381823992, 0.06768991730256806, 0.0413759429612796, 0.015426810231538288, 0.0054435820548750825, 0.0, 0.0, 0.0, 0.0048990423361479985, 0.0, 0.011796545440024396, 0.025408223275805737, 0.00798295227653905, 0.0, 0.012702296505507114, 0.0, 0.0, 0.0, 0.0, 0.008166280648510504, 0.0, 0.0, 0.0, 0.0),
 (2285, 0.11013115964899461, 0.07967594653654679, 0.1915647250793429, 0.04904487897974808, 0.025543320816816147, 0.024062441285440474, 0.1304886254568746, 0.05228985625287503, 0.01110474538590333, 0.010641970532348433, 0.04303250808236284, 0.0, 0.044416204894491995, 0.033497494999717735, 0.00879179666783595, 0.052920155603416806, 0.007403472107171257, 0.034705337367496016, 0.006476996850354352, 0.022019753081849152, 0.012956770349830032, 0.0, 0.013603729595099779, 0.0, 0.0, 0.0027757235716222776, 0.00462589743613476, 0.0, 0.024062441285440474, 0.0, 0.004164048132286971, 0.0, 0.0, 0.0, 0.0),
 (1075, 0.11474344396201888, 0.10483297203577786, 0.17211047150895806, 0.05392548576960552, 0.07427116303039281, 0.09492458652467917, 0.020862065008523004, 0.06988969123142309, 0.05423636162581814, 0.042764207965515735, 0.0067798060051200626, 0.04589800350935028, 0.004693390862753526, 0.004171787077161891, 0.009387824933078234, 0.03795815068507442, 0.010431032504261502, 0.0, 0.02503072246297135, 0.01626777886503189, 0.029207725577989157, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.004693390862753526, 0.0, 0.0, 0.002919937991741969, 0.0),
 (539, 0.12684408589412502, 0.09229215532968468, 0.056756975541181975, 0.0365194162105812, 0.04106447587682929, 0.06416293505816573, 0.00789659693099881, 0.12437806524984012, 0.0049350028826182085, 0.006415799906808509, 0.059222996185466885, 0.1283268573143476, 0.007895609732982683, 0.06296941265666835, 0.034054382764312406, 0.02003123494523026, 0.009870992963252544, 0.0, 0.006908411716855817, 0.007401023526903122, 0.0, 0.012831599813617018, 0.0, 0.013025090624777885, 0.01332618601969658, 0.01875182631632984, 0.003848097866862528, 0.0, 0.012832587011633147, 0.0, 0.013324211623664326, 0.0, 0.008883794947125677, 0.005230175089440142, 0.0)]

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from dotenv import load_dotenv
import os
from PostgresAgent import PostgresAgent
import pandas as pd

# Visualize the table of percentages as a "heatmap"
def create_wine_heatmap(df: pd.DataFrame) -> None:
    import pandas as pd
    import numpy as np
    from IPython.display import HTML
    import matplotlib.colors as mcolors

    if 'customer_nbr' in df.columns:
        df = df.set_index('customer_nbr')
    
    df = df.sort_values(df.columns[0:6].tolist(), ascending=[False]*6)

    def color_scale(val):
        # Scale val from 0-0.3 range to 0-1 range for color mapping
        scaled_val = min(1.0, val / 0.3)
        color = mcolors.hsv_to_rgb([0.333 * scaled_val, 0.75, 0.9])
        return f'background-color: rgb({int(color[0]*255)},{int(color[1]*255)},{int(color[2]*255)})'

    styled_df = df.style\
        .apply(lambda x: [color_scale(v) for v in x])\
        .format("{:.3f}")\
        .set_table_styles([
            {'selector': 'th', 'props': [('background-color', '#f3f4f6'), 
                                       ('position', 'sticky'), 
                                       ('top', '0'),
                                       ('padding', '8px')]},
            {'selector': 'td', 'props': [('padding', '8px')]},
            {'selector': 'table', 'props': [('display', 'block'),
                                          ('max-height', '600px'),
                                          ('overflow-y', 'auto')]}
        ])
    
    return styled_df

# load crosstab into a Pandas dataframe
sql = '''
    select *
    from customer_varietal_crosstab c 
    limit 50;
'''
frame = agent.execute_dml(sql)

create_wine_heatmap(frame)

/home/nchitiwong/datasci_business/retail_segmentation/PostgresAgent.py:90: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [20]:
%%sql
--
-- customer_producer_crosstab 
--
drop table if exists {username}.customer_producer_crosstab;

create table {username}.customer_producer_crosstab as 
with customer_totals as (
    select tp.customer_nbr,
            sum(tp.total_sales) as total
    from {username}.transaction_pos tp 
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
    group by tp.customer_nbr
), customer_totals_by_producer as (
    select tp.customer_nbr,
           p.producer,
            sum(tp.total_sales) as sub_total
    from {username}.transaction_pos tp 
    inner join product p on p.sku = tp.sku
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
    group by tp.customer_nbr,
        p.producer
), customer_pct as (
    select v.customer_nbr,
            v.producer,
            v.sub_total / t.total as pct
    from customer_totals_by_producer v 
    inner join customer_totals t on t.customer_nbr = v.customer_nbr
)
select  customer_nbr,
        max(case when producer = 'Opus One' then pct else 0.0 end) as opus_one,
        max(case when producer = 'Gaja' then pct else 0.0 end) as gaja,
        max(case when producer = 'Vega Sicilia' then pct else 0.0 end) as vega_sicilia,
        max(case when producer = 'Caymus' then pct else 0.0 end) as caymus,
        max(case when producer = 'Chateau Margaux' then pct else 0.0 end) as chateau_margaux,
        max(case when producer = 'Domaine Leflaive' then pct else 0.0 end) as domaine_leflaive,
        max(case when producer = 'Veuve Clicquot' then pct else 0.0 end) as veuve_clicquot,
        max(case when producer = 'Penfolds' then pct else 0.0 end) as penfolds,
        max(case when producer = 'Sassicaia' then pct else 0.0 end) as sassicaia,
        max(case when producer = 'Louis Jadot' then pct else 0.0 end) as louis_jadot,
        max(case when producer = 'Ridge' then pct else 0.0 end) as ridge,
        max(case when producer = 'Domaine Drouhin' then pct else 0.0 end) as domaine_drouhin,
        max(case when producer = 'Torres' then pct else 0.0 end) as torres,
        max(case when producer = 'Chateau d''Yquem' then pct else 0.0 end) as chateau_dyquem,
        max(case when producer = 'Catena Zapata' then pct else 0.0 end) as catena_zapata,
        max(case when producer = 'Robert Mondavi' then pct else 0.0 end) as robert_mondavi,
        max(case when producer = 'Duckhorn' then pct else 0.0 end) as duckhorn,
        max(case when producer = 'Antinori' then pct else 0.0 end) as antinori,
        max(case when producer = 'Trimbach' then pct else 0.0 end) as trimbach,
        max(case when producer = 'Masi' then pct else 0.0 end) as masi,
        max(case when producer = 'Marchesi di Barolo' then pct else 0.0 end) as marchesi_di_barolo,
        max(case when producer = 'Domaine Serene' then pct else 0.0 end) as domaine_serene,
        max(case when producer = 'Santa Margherita' then pct else 0.0 end) as santa_margherita,
        max(case when producer = 'Ornellaia' then pct else 0.0 end) as ornellaia,
        max(case when producer = 'Ruffino' then pct else 0.0 end) as ruffino,
        max(case when producer = 'Stag''s Leap' then pct else 0.0 end) as stags_leap,
        max(case when producer = 'Cloudy Bay' then pct else 0.0 end) as cloudy_bay,
        max(case when producer = 'Meiomi' then pct else 0.0 end) as meiomi,
        max(case when producer = 'Domaine Ramonet' then pct else 0.0 end) as domaine_ramonet,
        max(case when producer = 'Beringer' then pct else 0.0 end) as beringer,
        max(case when producer = 'Guigal' then pct else 0.0 end) as guigal,
        max(case when producer = 'Kim Crawford' then pct else 0.0 end) as kim_crawford,
        max(case when producer = 'Chteau d''Yquem' then pct else 0.0 end) as chteau_dyquem,
        max(case when producer = 'Donnhoff' then pct else 0.0 end) as donnhoff,
        max(case when producer = 'Moet & Chandon' then pct else 0.0 end) as moet_chandon,
        max(case when producer = 'Chteau Lynch-Bages' then pct else 0.0 end) as chteau_lynchbages,
        max(case when producer = 'Taittinger' then pct else 0.0 end) as taittinger,
        max(case when producer = 'Cakebread' then pct else 0.0 end) as cakebread,
        max(case when producer = 'Concha y Toro' then pct else 0.0 end) as concha_y_toro,
        max(case when producer = 'Domaine Weinbach' then pct else 0.0 end) as domaine_weinbach,
        max(case when producer = 'Dominus' then pct else 0.0 end) as dominus,
        max(case when producer = 'Chteau Palmer' then pct else 0.0 end) as chteau_palmer,
        max(case when producer = 'Domaine Laroche' then pct else 0.0 end) as domaine_laroche,
        max(case when producer = 'Villa Maria' then pct else 0.0 end) as villa_maria,
        max(case when producer = 'Donnafugata' then pct else 0.0 end) as donnafugata,
        max(case when producer = 'Grgich Hills' then pct else 0.0 end) as grgich_hills,
        max(case when producer = 'Castello Banfi' then pct else 0.0 end) as castello_banfi,
        max(case when producer = 'Bertani' then pct else 0.0 end) as bertani,
        max(case when producer = 'Conundrum' then pct else 0.0 end) as conundrum,
        max(case when producer = 'Rombauer' then pct else 0.0 end) as rombauer,
        max(case when producer = 'Planeta' then pct else 0.0 end) as planeta,
        max(case when producer = 'Chateau Ste. Michelle' then pct else 0.0 end) as chateau_ste_michelle,
        max(case when producer = 'Oyster Bay' then pct else 0.0 end) as oyster_bay,
        max(case when producer = 'Yalumba' then pct else 0.0 end) as yalumba
from customer_pct
group by customer_nbr;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
1000 rows affected.

[]

In [21]:
%%sql
--
-- customer_region_crosstab
--
drop table if exists {username}.customer_region_crosstab;

create table {username}.customer_region_crosstab as
with customer_totals as (
    select tp.customer_nbr,
            sum(tp.total_sales) as total
    from {username}.transaction_pos tp 
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
    group by tp.customer_nbr
), customer_totals_by_region as (
    select tp.customer_nbr,
           p.region,
            sum(tp.total_sales) as sub_total
    from {username}.transaction_pos tp 
    inner join product p on p.sku = tp.sku
    where tp.transaction_date > CURRENT_DATE - INTERVAL '365 days'
    group by tp.customer_nbr,
        p.region
), customer_pct as (
    select v.customer_nbr,
            v.region,
            v.sub_total / t.total as pct
    from customer_totals_by_region v 
    inner join customer_totals t on t.customer_nbr = v.customer_nbr
)
select  customer_nbr,
        max(case when region = 'Napa Valley' then pct else 0.0 end) as napa_valley,
        max(case when region = 'Burgundy' then pct else 0.0 end) as burgundy,
        max(case when region = 'Bordeaux' then pct else 0.0 end) as bordeaux,
        max(case when region = 'Piedmont' then pct else 0.0 end) as piedmont,
        max(case when region = 'Tuscany' then pct else 0.0 end) as tuscany,
        max(case when region = 'Ribera del Duero' then pct else 0.0 end) as ribera_del_duero,
        max(case when region = 'Champagne' then pct else 0.0 end) as champagne,
        max(case when region = 'Willamette Valley' then pct else 0.0 end) as willamette_valley,
        max(case when region = 'Barossa Valley' then pct else 0.0 end) as barossa_valley,
        max(case when region = 'Sonoma' then pct else 0.0 end) as sonoma,
        max(case when region = 'Rioja' then pct else 0.0 end) as rioja,
        max(case when region = 'Veneto' then pct else 0.0 end) as veneto,
        max(case when region = 'Mendoza' then pct else 0.0 end) as mendoza,
        max(case when region = 'Alsace' then pct else 0.0 end) as alsace,
        max(case when region = 'Marlborough' then pct else 0.0 end) as marlborough,
        max(case when region = 'California' then pct else 0.0 end) as california,
        max(case when region = 'Alto Adige' then pct else 0.0 end) as alto_adige,
        max(case when region = 'Rhone Valley' then pct else 0.0 end) as rhone_valley,
        max(case when region = 'Mosel' then pct else 0.0 end) as mosel,
        max(case when region = 'Sonoma County' then pct else 0.0 end) as sonoma_county,
        max(case when region = 'Sicily' then pct else 0.0 end) as sicily,
        max(case when region = 'Knights Valley' then pct else 0.0 end) as knights_valley,
        max(case when region = 'Sauternes' then pct else 0.0 end) as sauternes,
        max(case when region = 'Veneto, Italy' then pct else 0.0 end) as veneto_italy,
        max(case when region = 'Central Valley' then pct else 0.0 end) as central_valley,
        max(case when region = 'Carneros' then pct else 0.0 end) as carneros,
        max(case when region = 'Nahe' then pct else 0.0 end) as nahe,
        max(case when region = 'Oregon' then pct else 0.0 end) as oregon,
        max(case when region = 'Columbia Valley' then pct else 0.0 end) as columbia_valley,
        max(case when region = 'Chile' then pct else 0.0 end) as chile,
        max(case when region = 'Eden Valley' then pct else 0.0 end) as eden_valley,
        max(case when region = 'Maipo Valley' then pct else 0.0 end) as maipo_valley
from customer_pct
group by customer_nbr;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
1000 rows affected.

[]

In [22]:
%%sql
--
-- customer_pricepoint_crosstab
-- 
drop table if exists {username}.customer_pricepoint_crosstab;

create table {username}.customer_pricepoint_crosstab as
select tp.customer_nbr,
       sum(case when tp.unit_price < 25.0 then tp.total_sales else 0 end) / sum(tp.total_sales) as SPEND_LT_25,
       sum(case when tp.unit_price between 25.0 and 35.0 then tp.total_sales else 0 end) / sum(tp.total_sales) as SPEND_GT_25_LT_35,
       sum(case when tp.unit_price > 35.0 then tp.total_sales else 0 end) / sum(tp.total_sales) as SPEND_GT_35
from {username}.transaction_pos tp
group by tp.customer_nbr;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
1000 rows affected.

[]

In [23]:
%%sql
--
-- combine all behavioral columns into a single dataset for PCA
--
drop table if exists {username}.pca_input;

create table {username}.pca_input as
select c.customer_nbr,
       rfm.recency_score, 
       rfm.frequency_score, 
       rfm.monetary_score,
       cpc.spend_lt_25,
       cpc.spend_gt_25_lt_35,
       cpc.spend_gt_35, 
       prd.opus_one, 
       prd.gaja, 
       prd.vega_sicilia, 
       prd.caymus, 
       prd.chateau_margaux, 
       prd.domaine_leflaive, 
       prd.veuve_clicquot, 
       prd.penfolds, 
       prd.sassicaia, 
       prd.louis_jadot, 
       prd.ridge, 
       prd.domaine_drouhin, 
       prd.torres, 
       prd.chateau_dyquem, 
       reg.napa_valley, 
       reg.burgundy, 
       reg.bordeaux, 
       reg.piedmont, 
       reg.tuscany,
       reg.ribera_del_duero, 
       reg.champagne, 
       reg.willamette_valley, 
       reg.barossa_valley, 
       reg.sonoma, 
       reg.rioja, 
       reg.veneto, 
       reg.mendoza, 
       reg.alsace, 
       reg.marlborough,
       reg.california,
       v.cabernet_sauvignon, 
       v.chardonnay, 
       v.tempranillo, 
       v.pinot_noir, 
       v.red_blend, 
       v.barbaresco, 
       v.champagne as champagne_region, 
       v.super_tuscan, 
       v.merlot, 
       v.zinfandel, 
       v.shiraz, 
       v.sauternes, 
       v.riesling, 
       v.malbec, 
       v.amarone, 
       v.sauvignon_blanc,
       v.barolo, 
       v.cabernet_blend, 
       v.chianti_classico, 
       v.pinot_grigio      
from {username}.customer c 
inner join {username}.customer_pricepoint_crosstab cpc on cpc.customer_nbr = c.customer_nbr 
inner join {username}.customer_producer_crosstab prd on prd.customer_nbr = c.customer_nbr 
inner join {username}.customer_varietal_crosstab v on v.customer_nbr = c.customer_nbr 
inner join {username}.customer_region_crosstab reg on reg.customer_nbr = c.customer_nbr 
inner join {username}.rfm_metrics rfm on rfm.customer_nbr = c.customer_nbr ;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.
1000 rows affected.

[]