In [1]:
%run  "./env_setup.py"

User:  nchitiwong
Database:  postgresql://nchitiwong:secret@ads1.datasci.vt.edu:5432/ads_db1

In [2]:
%%sql
--
-- Here's a simple test SQL
--
select *
from dw1.customer
limit 5;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
5 rows affected.

[(1, 'Kathryn', 'Cooper', '80701'),
 (2, 'Edward', 'Adams', '80425'),
 (3, 'Rebecca', 'Chapman', '80751'),
 (4, 'Dana', 'Wolf', '80820'),
 (5, 'David', 'Dalton', '80515')]

In [3]:
%%sql
drop table if exists {username}.campaign;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [4]:
%%sql
create table {username}.campaign as 
select * from dw1.campaign;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
2000 rows affected.

[]

In [7]:
%%sql
drop table if exists {username}.customer;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [8]:
%%sql
create table {username}.customer as 
select * from dw1.customer;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
5000 rows affected.

[]

In [9]:
%%sql
drop table if exists {username}.product;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [10]:
%%sql
create table {username}.product as 
select * from dw1.product;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
500 rows affected.

[]

In [11]:
%%sql
drop table if exists {username}.store;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [12]:
%%sql
create table {username}.store as 
select * from dw1.store;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
10 rows affected.

[]

In [13]:
%%sql
drop table if exists {username}.transaction_pos;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [14]:
%%sql
create table {username}.transaction_pos as 
select * from dw1.transaction_pos;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
619738 rows affected.

[]

In [15]:
%%sql
drop table if exists {username}.zip;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [16]:
%%sql
create table {username}.zip as 
select * from dw1.zip;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
72 rows affected.

[]

In [17]:
%%sql
drop table if exists {username}.zip_demographics_decile;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
Done.

[]

In [18]:
%%sql
create table {username}.zip_demographics_decile as 
select * from dw1.zip_demographics_decile;

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
72 rows affected.

[]