In [1]:
%run  "./env_setup.py"

User:  nchitiwong
Database:  postgresql://nchitiwong:secret@ads1.datasci.vt.edu:5432/ads_db1

In [3]:
%%sql

select  sum(case when s.random_forest_probability >= 0.0 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.0 then s.customer_nbr else null end) as gm_prob_00,
        sum(case when s.random_forest_probability >= 0.1 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.1 then s.customer_nbr else null end) as gm_prob_10,
        sum(case when s.random_forest_probability >= 0.2 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.2 then s.customer_nbr else null end) as gm_prob_20,
        sum(case when s.random_forest_probability >= 0.3 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.3 then s.customer_nbr else null end) as gm_prob_30,
        sum(case when s.random_forest_probability >= 0.4 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.4 then s.customer_nbr else null end) as gm_prob_40,
        sum(case when s.random_forest_probability >= 0.5 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.5 then s.customer_nbr else null end) as gm_prob_50,
        sum(case when s.random_forest_probability >= 0.99 then c.purchase_qty * (c.unit_price - c.unit_cost) else null end) - 3.50 * count(distinct case when s.random_forest_probability >= 0.6 then s.customer_nbr else null end) as gm_prob_60,
        count(distinct case when s.random_forest_probability >= 0.0 then s.customer_nbr else null end) as nbr_cust_00,
        count(distinct case when s.random_forest_probability >= 0.1 then s.customer_nbr else null end) as nbr_cust_10,
        count(distinct case when s.random_forest_probability >= 0.2 then s.customer_nbr else null end) as nbr_cust_20,
        count(distinct case when s.random_forest_probability >= 0.3 then s.customer_nbr else null end) as nbr_cust_30,
        count(distinct case when s.random_forest_probability >= 0.4 then s.customer_nbr else null end) as nbr_cust_40,
        count(distinct case when s.random_forest_probability >= 0.5 then s.customer_nbr else null end) as nbr_cust_50,
        count(distinct case when s.random_forest_probability >= 0.6 then s.customer_nbr else null end) as nbr_cust_60
from nchitiwong.campaign_predictions_smote s
inner join nchitiwong.campaign c on c.campaign_id = s.campaign_id 
                                and c.customer_nbr = s.customer_nbr 
where s.campaign_short_desc = 'Meiomi ($2 off)'

 * postgresql://nchitiwong:***@ads1.datasci.vt.edu:5432/ads_db1
1 rows affected.

[(4969.464999999998, 7034.669999999997, 7367.269999999998, 7272.884999999998, 7097.994999999999, 7017.539999999999, 776.5149999999999, 1000, 287, 132, 90, 74, 70, 69)]